
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="card" style="text-align: justify">
    <div class="card-body">
        <h2>Frequently Asked Questions</h2>

        <div class="accordion">
            <div class="accordion-item">
                <a>How to Register ?</a>
                <div class="content">
                    <p>Click on Register here! and give details given format like name,contact number,email, store address, pin code, Business name and type of business, and what are products, and also store photos can upload. Once you Register You get OTP for your number confirmation.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>Why do we need to Register ?</a>
                <div class="content">
                    <p>Suppose any person searching stores on browser chances to they can contact you for products order, so it will increase your turnover.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How to Recover forget password ?</a>
                <div class="content">
                    <p>Click on forget password and you need to enter your contact number (that mobile is should match registered number) and submit it,you will get OTP for that number and enter the OTP after that you can change password.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>what are the benifits of general and premium Registration ?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
            <div class="accordion-item">
                <a>How to add contact details ?</a>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </div>




</div>


